<h2>Создать рабочее место/переговорную</h2>





<input type="radio" id="rab" name="tabtype" value="rm" [(ngModel)]="tablesForm.tabtype" />
    <label for="sorudnik">Рабочее место</label>

&nbsp;&nbsp;

    <input type="radio" id="per" name="tabtype" value="pe" [(ngModel)]="tablesForm.tabtype" />
    <label for="admin">Переговорная</label>

<br/><br/>

Название/№:&nbsp;
<input id="rabpernme" type="text" [(ngModel)]="tablesForm.rabpernme" /> <br/><br/>


Координаты:&nbsp;
<input id="x" type="text" size=3 [(ngModel)]="tablesForm.x" /> :x &nbsp;&nbsp;<input id="y" type="text" size=3 [(ngModel)]="tablesForm.y"/> :y

<br/><br/>
Количество мониторов: -

   <input id="mon" type="text" size=3 [(ngModel)]="tablesForm.mon"/> <br/><br/>

Офис -
<select [(ngModel)]="tablesForm.office">
    <option *ngFor="let office of offices" [ngValue]="office.id">{{office.name}}</option>
</select>
<br/><br/>


  <input type="button" value="Создать" (click)="addtable()"><br/><br/>





        <div cdkDrag class="example-box" *ngFor="let c of tables; index as i"
             [cdkDragFreeDragPosition]="c.position"
             (cdkDragEnded)="dragEnded_new($event,i)" >
            {{c.name}}
            <div><a href="#" (click)="deltab(i)" style="text-decoration: none;">x</a></div>
        </div>




















<div [class.hide]="isreg==1">



<h2>Регистрация</h2>




  <input id="login" type="text" [(ngModel)]="loginForm.login"  /> - Логин <br/><br/>
  <input id="passw" type="text" [(ngModel)]="loginForm.password" /> - Пароль<br/><br/>
  <input id="passw2" type="text" [(ngModel)]="loginForm.password2" /> - Повторите пароль

  <br/><br/>


    <input type="radio" id="sorudnik" name="type" value="s" [(ngModel)]="loginForm.type" checked />
    <label for="sorudnik">Сотрудник</label>



    <input type="radio" id="admin" name="type" value="a" [(ngModel)]="loginForm.type" />
    <label for="admin">Админ</label>

 <br/><br/>

  <input type="button" value="Зарегистрироваться" (click)="reg()">

</div>

<div [class.hide]="isreg==1">

<h2>Авторизация</h2>




  <input id="logina" type="text" [(ngModel)]="loginForma.logina"  /> - Логин <br/><br/>
  <input id="passwa" type="text" [(ngModel)]="loginForma.passworda" /> - Пароль

  <br/><br/>


  <input type="button" value="Войти" (click)="SignIn()">
  </div>
