<div [class.hide]="isreg==0">

<input type="button"  (click)="SignOut()" value="Выйти">
<br/><br/>

</div>





<h4>Список групп</h4>
<table>
      <tr *ngFor="let group of groups">
          <td>{{group.id}}</td>
          <td>{{group.name}}</td>

      </tr>
</table>




<div [class.hide]="isreg==1">


























<h2>Регистрация</h2>




  <input id="login" type="text" [(ngModel)]="loginForm.login"  /> - Логин <br/><br/>
  <input id="passw" type="text" [(ngModel)]="loginForm.password" /> - Пароль<br/><br/>
  <input id="passw2" type="text" [(ngModel)]="loginForm.password2" /> - Повторите пароль

  <br/><br/>


    <input type="radio" id="sorudnik" name="type" value="s" [(ngModel)]="loginForm.type" checked />
    <label for="sorudnik">Сотрудник</label>



    <input type="radio" id="admin" name="type" value="a" [(ngModel)]="loginForm.type" />
    <label for="admin">Админ</label>

 <br/><br/>

  <input type="button" value="Зарегистрироваться" (click)="reg()">

</div>

<div [class.hide]="isreg==1">

<h2>Авторизация</h2>




  <input id="logina" type="text" [(ngModel)]="loginForma.logina"  /> - Логин <br/><br/>
  <input id="passwa" type="text" [(ngModel)]="loginForma.passworda" /> - Пароль

  <br/><br/>


  <input type="button" value="Войти" (click)="SignIn()">
  </div>
