<h1>Сотрудники и группы</h1>

<div [class.hide]="isreg==0">
<h4>Список групп</h4>
<table>
      <tr *ngFor="let group of groups">
          <td>{{group.id}}</td>
          <td>{{group.name}}</td>

      </tr>
</table>



<h4>Список пользователей</h4>
<table border=1>
       <tr>
          <td>№</td>
          <td>Пользователи</td>
		  <td>Группы</td>

      </tr>
      <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
		  <td>{{user.group}}</td>

      </tr>
</table>

</div>
<div [class.hide]="isreg==1">
<p>Для просмотра данного раздела необходимо <a href="/">авторизоваться</a></p>
</div>





















